{% extends "default.html" %}
{% block header %}
<section class="pt-4 pb-5 error-page-main-inner mt-md-5 ml-5 mr-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 mx-auto text-center section-title">
                <div class="section-title text-center">
                    <span class="badge badge-info">ARTICLE</span>
                    <h2>{{title}}</h2>
                    <span class="section-title-line"></span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}