{% extends "default.html" %}
{% block header %}
<div class="section blog-image">
    <img class="img-fluid wf" src="../{{article['article-image']}}" alt="">
</div>
<section class="section pb-4 pt-0 success-story-block">
    <img class="bg-body-top-bg" style="bottom: auto; top: 140px;" src="../static/img/bg-body-top.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="blog-dediated-block">
                    <div class="blog-status">
                        <div class="blog-date text-center">
                            <strong>{{article['create-month']}}, {{article['create-day']}}</strong><br>{{article['create-year']}}
                        </div>
                        <div class="blog-time text-center">
                            <img src="../static/img/clock.png" alt="Card image cap"><br>
                            <strong>{{article['read-time']}} min</strong>
                        </div>
                    </div>
                    <h2>{{article['title']}}</h2>
                    <p class="caption-text">{{article['text']}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}