{% extends "default.html" %}
{% block header %}
<section class="pt-4 pb-5 error-page-main-inner mt-md-5 ml-5 mr-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 mx-auto text-center section-title">
                <div class="card theme-card blog-card">
                    <a href="#"><img class="card-img-top" src="../static/img/stories/1.png" alt="Card image cap"></a>
                    <div class="card-body">
                        <span class="badge badge-success">DESIGN</span>
                        <h6><a class="text-gray underlining-none" href="#">System Security Testing</a></h6>
                        <p>The purpose of analysis is to distill complexity into actionable insights only "insights" too
                            often take the form of graphs</p>
                        <div class="blog-author">
                            <p><img class="rounded-circle" src="../static/img/user/1.jpg" alt="Card image cap"> <strong>Rahul
                                Yadav</strong> On October 03, 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}