{% extends "default.html" %}

{% block header %}
<section class="banner-block pb-0" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white"><strong>Python</strong> Documentation Page</h1>
                <p class="lead mb-5 text-white">A Page For a Developments</p>
                {% if signin == 1:%}
                <div class="card">

                    <form method="post" enctype="multipart/form-data">
                        <div class="image-upload">
                            <label for="file-input">
                                <img src="../{{image_file}}" id="result-image">
                            </label>
                            <input id="file-input" type="file" name="image">
                        </div>
                        <input type="submit" class="btn btn-danger btn-sm icofont icofont-ui-home mt-md-2"
                               name="save-uploaded-image" value="Save photo">
                    </form>

                    <div class="card-body">
                        <h2 class="card-title">{{nickname}}</h2>
                        <span class="section-title-line"></span>
                        <p class="card-text">
                            <strong>Level: </strong><span class="text-primary h5 mt-5">{{level}}</span>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{exp}}%">
                                {% if exp_point != 0 %}
                                {{exp_point}}
                                {% endif %}
                            </div>
                        </div>
                        <form method="post">
                            <input type="submit" class="btn btn-primary btn-sm icofont icofont-ui-home mt-md-2"
                                   name="sign-out" value="Log Out">
                            <input type="submit" class="btn btn-danger btn-sm icofont icofont-ui-home mt-md-2"
                                   name="delete-account" value="Delete account">
                        </form>
                    </div>
                </div>
                {% endif %}

                <div class="mb-5"></div>
                <img class="img-fluid mt-5 wow fadeInUp" src="../static/img/phone2.png" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block body %}

<section class="amazing-dashboard-block" id="amazing-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="amazing-dashboard-left">
                    <h2 class="mb-2">О Python</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5"></p>
                    <h5>1. Основная информация</h5>
                    <p class="mb-5">Python - многофункциональный язык высокого уровня довольно простого синтаксиса,
                        понятного даже новичку в программировании.</p>
                    <h5>2. Синтаксис</h5>
                    <p class="mb-5">Забудьте про точки с запятыми и фигурные скобки - знаком конца строки является
                        переход, а выделение фрагментов кода делается отступами! Это делает код легко понимаемым даже
                        новичку.</p>
                    <h5>3. Структура</h5>
                    <p class="mb-0">Язык построен по принципам ООП, как и C++. Любая переменная в Python'е - объект
                        какого-то класса.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="amazing-dashboard-right text-right">
                    <img class="amazing-dashboard" src="../static/img/amazing-dashboard-block.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="why-us-block bg-danger" id="why-us">
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-white text-white">Почему Python?</span>
            <h2 class="text-white">Множество людей со всего мира изучают и пользуются им! Попробуй и ты!</h2>
            <span class="section-title-line section-title-line line-white"></span>
            <br>
            <h4 class="text-white">Ссылка на официальную документацию - <a target="_blank"
                                                                           href="https://docs.python.org/">docs.python.org</a><br>
                Ссылка на русскоязычный аналог - <a target="_blank"
                                                    href="https://pythonworld.ru/">pythonworld.ru</a><br>
                Как известно, любой вопрос уже происходил с юзерами стака - <a target="_blank"
                                                                               href="https://stackoverflow.com/">stackoverflow
                    - вопрос-ответ</a>
            </h4>
        </div>
    </div>
</section>
<section class="features-mid-block" id="features-mid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-mid-right text-left">
                    <img class="img-fluid" src="../static/img/features-mid-block.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-mid-left pt-4">
                    <h2 class="mb-2">Основные классы данных</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5">Как такового типа данных в Python'е нет, все объекты разделяются на классы, т.е.
                        класс "int", класс "bool", класс "str". Объекты подобных классов очень похожи на переменные
                        одноименных типов данных в C++. Примеры использования: <br> something = 5 - теперь переменная
                        something является объектом класса Int <br> something = '123' - теперь переменная something
                        является объектом класса Str</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-mid-block pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-mid-left pt-4">
                    <h2 class="mb-2">Динамическая типизация</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5">В Python'е использует динамическая типизация данных, а это значит, что тип данной
                        переменной <span class="text-danger"
                        ><strong>МОЖЕТ ИЗМЕНЯТЬСЯ</strong></span>, как это и было показано в примере
                        выше!<br> Основные типы(классы) данных в python'е: <br>
                        str #'123'<br>
                        float #1.4<br>
                        int #5<br>
                        bool #True<br>
                        list #[1, 2, 3] - объекты класса поддерживают итерацию, подобны массиву данных в C++, однако не
                        имеют ограничений по размеру
                        по размеру!<br>
                        tuple #(1, 2, 3) - аналогично list, но запрещенно изменять содержимое его объектов каким-либо
                        способом!
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-mid-right text-right">
                    <img class="img-fluid" src="../static/img/features-mid-block1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="screens-block bg-danger" id="screens">
    <div class="screens-container-fluid">
        <div class="section-title text-center">
            <span class="badge badge-white text-white">Примеры</span>
            <h2 class="text-white">Примеры работы с некоторыми типами данных</h2>
            <span class="section-title-line section-title-line line-white"></span>
        </div>
        <div class="screens-row text-center">
            <div class="screens owl-carousel owl-theme">
                <div class="item">
                    <img src="../static/img/1.png" class="img-responsive">
                </div>
                <div class="item">
                    <img src="../static/img/2.png" class="img-responsive">
                </div>
                <div class="item">
                    <img src="../static/img/3.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials-block" id="testimonials">
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-primary">Конструкции</span>
            <h2>Основные конструкции языка</h2>
            <span class="section-title-line"></span>
        </div>
        <p class="mb-5">
            <span
                    class="text-danger"><strong>if condition: ...<br>elif contition: ...<br> else: ...</strong> </span>
            <br> - условный оператор ветвления, представлен также, как и в других языках, например, в Си
            <br><br>
            <span
                    class="text-danger"><strong>for i in something:<br>    ...</strong> </span><br>- цикл,
            выполняющийся,
            пока не дойдет до края something(где something - итератор). Доступ к текущему рассматриваемому значению
            получается с помощью переменной цикла i(можно и любое другое название)
            <br><br>
            <span
                    class="text-danger"><strong>while condition:<br>...</strong> </span> - цикл, выполняющийся, пока
            выражение condition истинно
            <br><br>
        </p>
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-primary">Функции</span>
            <h2>Основные функции языка</h2>
            <span class="section-title-line"></span>
        </div>
        <p class="mb-5">
            <span
                    class="text-danger"><strong>print(something, ..., end='\n', sep=';', file=sys.stdout)</strong> </span>
            -
            выводит переменные/значения/..., которые описываются в бесконечных параметрах
            end - чем окончить вывод, sep - чем разделить выражения для вывода, file - в какой файл нужно вывести, по
            умолчанию - в стандартный поток вывода
            <br><br>
            <span
                    class="text-danger"><strong>input(message)</strong> </span> - возвращает строку, полученную из
            стандартного потока ввода, необязательный параметр message - что нужно вывести перед вводом, например,
            подсказку
            <br><br>
            <span
                    class="text-danger"><strong>map(func, iterable, ...)  -> iterator</strong> </span> - возвращает
            итератор, полученный путем применения функции func ко всем элементам последовательностей, описанных во
            втором, бесконечном параметре
            <br><br>
            <span
                    class="text-danger"><strong>filter(func, iterable, ...)  -> iterator</strong> </span> - возвращает
            итератор, полученный путем применения функции func ко всем элементам последовательностей, описанных во
            втором, бесконечном параметре. Элементы последовательностей, при которых func вернула True, будут записаны в
            итератор
            <br><br>
            <span
                    class="text-danger"><strong>dict([object])  -> dictionary</strong> </span> - возвращает словарь,
            полученный путем преобразования object в словарь
            <br><br>
            <span
                    class="text-danger"><strong>set([object])</strong> </span> - возвращает множество,
            полученное путем преобразования object в множество
            <br><br>
            <span
                    class="text-danger"><strong>str([object])</strong> </span> - возвращает строковое представление
            оbject
            <br><br>
        </p>
    </div>
</section>
<section class="team-block" id="team">
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-danger">ООП</span>
            <h2>Как представленно объектно-ориентированное программирование в Python'е</h2>
            <span class="section-title-line"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="features-mid-right text-left">
                    <img class="img-fluid" src="../static/img/features-mid-block3.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-mid-left pt-4">
                    <h2 class="mb-2">Объявление класса</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5">Класс объявляется следующей констркуцией:<br>
                        <span class="text-danger"><strong>class name(...):<br>def __init__():...<br></strong></span>-
                        где name - имя класса, бесконечные параметры в скобках - наследуемые классы, т.е. классы, методы
                        которых необходимо получить(подробнее о наследовании <a
                                target="_blank"
                                href="https://docs.mql4.com/ru/basis/oop/inheritance"><span class="text-danger"><strong>здесь</strong></span></a>)
                        Конструктор класса __init__(self, ...) обязателен, если вы не наследовали какие-либо классы, он
                        отвечает за
                        первоначальные объявления, которые будут выполнены в ходе объявления объектов класса.<br> Пару
                        слов о self: self - обязательный параметр любых методов класса в python'е. Он - объект класса,
                        который мы рассматриваем. Таким образом в одних методах класса мы можем вызывать другие,
                        обращаться к каким-либо переменным объекта. Например, <span class="text-danger"><strong>print(self.param)</strong></span>
                        - выведет на экран текущее значение параметра param.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-mid-block pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="features-mid-left pt-4">
                    <h2 class="mb-2">Методы класса</h2>
                    <span class="section-title-line mb-4"></span>
                    <p class="mb-5">В Python'е метод можно определить и/или перегрузить таким образом:
                        <span class="text-danger"> <strong>def name(self, param1, *args, **kwargs):<br>...<br></strong></span>
                        - Где name - имя метода, self - обязательный
                        параметр, далее идут параметры, как и при обычных функциях. Чтобы получить доступ к методам
                        наследуемого класса, нужно использовать <span
                                class="text-danger"><strong>self.__super__()</strong></span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="features-mid-right text-right">
                    <img class="img-fluid" src="../static/img/features-mid-block4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="download-app-block bg-danger" id="download-app">
    <div class="container">
        <div class="section-title text-center">
            <span class="badge badge-white text-white">Вы готовы?</span>
            <h2 class="text-white">Лучшие IDE для работы с Python'ом и сам Python</h2>
            <span class="section-title-line section-title-line line-white"></span>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <p class="lead mb-5 text-white">Скачать Python 3.7.2(новейшая версия)</p>
                <p>
                    <button type="button" class="btn btn-light btn-lg"><a
                            href="https://www.python.org/downloads/release/python-372/" style="color: black"
                            target="_blank">Перейти к скачиванию</a></button>
                </p>
                <br>
                <p class="lead mb-5 text-white">Pycharm - удобная и приятная IDE-шка, для нас - лучшая. Существует 2
                    версии: Профессиональная и пользовательская. Пользовательская бесплатна. </p>
                <p>
                    <button type="button" class="btn btn-light btn-lg"><a
                            href="https://www.jetbrains.com/pycharm/download/#section=windows" style="color: black"
                            target="_blank">Перейти к скачиванию</a></button>
                </p>
                <br>
                <p class="lead mb-5 text-white">Wing IDE - нечто похожее на Pycharm, достойный аналог. Существует 3
                    версии: Профессиональная, Персональная, Для новичков. Третья бесплатна.</p>
                <p>
                    <button type="button" class="btn btn-light btn-lg"><a href="https://wingware.com/downloads"
                                                                          style="color: black" target="_blank">Перейти к
                        скачиванию</a></button>
                </p>
                <br>
                <p class="lead mb-5 text-white">Thonny - совсем простенькая IDE для новичков, функционала для
                    профессионалов будет не хватать, но для новичков вполне хорошая IDE</p>
                <p>
                    <button type="button" class="btn btn-light btn-lg"><a href="https://thonny.org/"
                                                                          style="color: black" target="_blank">Перейти к
                        скачиванию</a></button>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

