{% extends "default.html" %}
{% block header %}
<section class="pt-4 pb-5 error-page-main-inner mt-md-5 ml-5 mr-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 mx-auto text-center section-title">
                <form method="post">
                    <div class="image-upload">
                        <label for="file-input">
                            <img src="../{{image_file}}"/>
                        </label>

                        <input id="file-input" type="file"/>
                    </div>
                </form>
                <h1 class="text-white mt-2">
                    <nobr>Welcome, {{ nickname }}!</nobr>
                </h1>
                <h2 class="text-warning mt-5"> Your EXP: {{ exp }} </h2>
                <h2 class="text-warning"> Your level: {{ level }} </h2>
                <h2 class="text-warning"> Your Personal ID: {{ id }} </h2>
                <form method="post">
                    <input type="submit" class="btn btn-primary btn-sm icofont icofont-ui-home mt-md-2"
                           name="sign-out" value="Log Out">
                    <input type="submit" class="btn btn-danger btn-sm icofont icofont-ui-home mt-md-2"
                           name="delete-account" value="Delete account">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}