{% extends "default.html" %}
{% block header %}
<section class="pt-4 pb-5 error-page-main-inner mt-md-5 ml-5 mr-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 mx-auto text-center section-title">
                <div class="card">

                    <form method="post" enctype="multipart/form-data">
                        <div class="image-upload">
                            <label for="file-input">
                                <img src="../{{image_file}}">
                            </label>
                            <input id="file-input" type="file" name="image">
                        </div>
                        <input type="submit" class="btn btn-danger btn-sm icofont icofont-ui-home mt-md-2"
                               name="save-uploaded-image" value="Save photo">
                    </form>

                    <div class="card-body">
                        <h2 class="card-title">{{nickname}}</h2>
                        <span class="section-title-line"></span>
                        <p class="card-text">
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{exp}}%">{{exp_point}}</div>
                        </div>
                        <form method="post">
                            <input type="submit" class="btn btn-primary btn-sm icofont icofont-ui-home mt-md-2"
                                   name="sign-out" value="Log Out">
                            <input type="submit" class="btn btn-danger btn-sm icofont icofont-ui-home mt-md-2"
                                   name="delete-account" value="Delete account">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}