{% extends "default.html" %}
{% block header %}
<section class="pt-4 pb-5 error-page-main-inner mt-md-5 ml-5 mr-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 mx-auto text-center section-title">
                <div class="card">
                    <img src="../{{image_file}}" style="border-radius: 50%" width="200" height="200" class="mx-auto">

                    <div class="card-body">
                        <h2 class="card-title">{{nickname}}</h2>
                        <span class="section-title-line"></span>
                        <p class="card-text">
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{exp}}%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}